<div class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="../../index2.html"><b>BeeOrder</b> Case Study</a>
		</div>
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Sign in to start your session</p>
				<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
					<div class="input-group mb-3">
						<input type="email" class="form-control" placeholder="Email" name="email" ngModel />
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Password" name="password" ngModel />
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<p class="text-danger pl-1" *ngIf="errors.message">{{ errors.message }}</p>
					<div class="row">
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">Sign In</button>
						</div>
					</div>
				</form>
				<p class="mb-0">
					<a routerLink="/register" class="text-center">Register a new membership</a>
				</p>
			</div>
		</div>
	</div>
</div>
