<div class="hold-transition">
	<div class="card">
		<div class="card-body">
			<p>Create Task</p>
			<form (ngSubmit)="onSubmit(createTaskForm)" #createTaskForm="ngForm">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Description" name="description" ngModel />
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-envelope"></span>
						</div>
					</div>
				</div>

				<div class="input-group mb-3">
					<input type="datetime-local" class="form-control" placeholder="Deadline" name="deadline" ngModel />
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-envelope"></span>
						</div>
					</div>
				</div>

				<div class="input-group mb-3 col-8">
					<div class="input-group-append">
						<form (ngSubmit)="addNewSubTask(addSubTask)" #addSubTask="ngForm" class="mt-3">
							<div class="row">
								<div class="input-group ml-3 mb-3 col-8">
									<input type="text" class="form-control" placeholder="AddSubTask" name="addSubTask" ngModel />
									<div class="input-group-append">
										<div class="input-group-text">
											<span class="fas fa-envelope"></span>
										</div>
									</div>
								</div>
								<div class="col-4 float-right">
									<button type="submit" class="btn btn-primary btn-block">Add SubTask</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<ul>
					<li *ngFor="let str of selectedSubTasks">{{ str }}</li>
				</ul>

				<div class="input-group mb-3 col-8">
					<div class="input-group-append">
						<form (ngSubmit)="addNewCategory(addCategory)" #addCategory="ngForm" class="mt-3">
							<div class="row">
								<div class="input-group ml-3 mb-3 col-8">
									<input type="text" class="form-control" placeholder="AddCategory" name="addCategory" ngModel />
									<div class="input-group-append">
										<div class="input-group-text">
											<span class="fas fa-envelope"></span>
										</div>
									</div>
								</div>
								<div class="col-4 float-right">
									<button type="submit" class="btn btn-primary btn-block">Add Category</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<ul>
					<li *ngFor="let str of selectedCategories">{{ str }}</li>
				</ul>

				<div class="row">
					<div class="col-4">
						<button type="submit" class="btn btn-primary btn-block">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
