<ng-container *ngIf="hasUser; else elseBlock">
	<app-navbar></app-navbar>
</ng-container>
<ng-template #elseBlock>
	<app-auth-navbar></app-auth-navbar>
</ng-template>

<router-outlet> </router-outlet>
