<div class="hold-transition register-page">
	<div class="register-box">
		<div class="register-logo">
			<a href="/"><b>BeeOrder</b> Case Study</a>
		</div>
		<div class="card">
			<div class="card-body register-card-body">
				<p class="login-box-msg">Register a new membership</p>

				<form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Full name" name="name" ngModel />
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<p class="text-danger pl-1" *ngIf="errors.name">{{ errors.name }}</p>
					<div class="input-group mb-3">
						<input type="email" class="form-control" placeholder="Email" name="email" ngModel />
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<p class="text-danger pl-1" *ngIf="errors.email">{{ errors.email }}</p>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Password" name="password" ngModel />
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<p class="text-danger pl-1" *ngIf="errors.password">{{ errors.password }}</p>
					<div class="input-group mb-3">
						<input
							type="password"
							class="form-control"
							placeholder="Retype password"
							name="password_confirmation"
							ngModel
						/>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">Register</button>
						</div>
					</div>
				</form>
				<a routerLink="/login" class="text-center">I already have a membership</a>
			</div>
		</div>
	</div>
</div>
