<form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm" class="mt-3">
	<div class="row">
		<div class="input-group ml-3 mb-3 col-8">
			<input type="search" class="form-control" placeholder="Search" name="search" ngModel />
			<div class="input-group-append">
				<div class="input-group-text">
					<span class="fas fa-envelope"></span>
				</div>
			</div>
		</div>
		<div class="col-2 float-right">
			<button type="submit" class="btn btn-primary btn-block">Search</button>
		</div>
	</div>
</form>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Description</th>
			<th scope="col">Status</th>
			<th scope="col">CreatedAt</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let task of tasks" [routerLink]="['/task-details', task.id]">
			<th scope="row">{{ task.id }}</th>
			<td scope="row">{{ task.description }}</td>
			<td scope="row">{{ task.status }}</td>
			<td scope="row">{{ task.created_at }}</td>
		</tr>
	</tbody>
</table>
<div class="text-center container">
	<div class="row">
		<p class="col-2">Page {{ currentPage }}</p>
		<form class="col-2 float-left" (ngSubmit)="onSubmit('lastPage')" #lastPage="ngForm">
			<button type="submit" class="btn btn-primary btn-block">Last</button>
		</form>
		<form class="col-2 float-right" (ngSubmit)="onSubmit('nextPage')" #nextPage="ngForm">
			<button type="submit" class="btn btn-primary btn-block">Next</button>
		</form>
	</div>
</div>
