<div class="container">
	<div class="d-flex justify-content-center mt-5">
		<div class="card">
			<h5 class="card-header">Log Out</h5>
			<div class="card-body">
				<p class="card-text">Would you like to logout?</p>
				<button class="btn btn-info" (click)="logout()">Yes</button>
			</div>
		</div>
	</div>
</div>
