<div class="container mt-5">
	<h1>Task Details</h1>
	<hr />

	<!-- Task Details -->
	<div class="card">
		<div class="card-header">Task Information</div>
		<div class="card-body">
			<h5 class="card-title">Task Description</h5>
			<p class="card-text">{{ task.description }}</p>

			<h5 class="card-title">Deadline</h5>
			<p class="card-text">{{ task.deadline | date }}</p>

			<h5 class="card-title">Status</h5>
			<p class="card-text">{{ task.status }}</p>

			<!-- Subtasks -->
			<h5 class="card-title col-2">Subtasks</h5>
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let subtask of task.sub_tasks">{{ subtask.description }}</li>
			</ul>
			<br />
			<!-- Categories -->
			<h5 class="card-title col-2">Categories</h5>
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let category of task.categories" [style.background-color]="category.color">
					{{ category.name }}
				</li>
			</ul>
		</div>
	</div>

	<!-- Back Button -->
	<a routerLink="/" class="btn btn-primary mt-3">Back to Task List</a>
</div>
