<div class="container">
	<div class="d-flex justify-content-center mt-5" *ngIf="user">
		<div class="card">
			<h5 class="card-header">User Details</h5>
			<div class="card-body">
				<h5 class="card-title">Name:{{ user.name }}</h5>
				<br />
				<p class="card-text">Email: {{ user.email }}</p>
				<p class="card-text">Created_At : {{ user.created_at }}</p>
				<a routerLink="/logout" class="btn btn-info">Logout</a>
			</div>
		</div>
	</div>
</div>
